@import '../assets/_bootstrap/overrides/variables';

.container {
  ul {
    margin: 0;
    padding: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

// center the modal
.modal.fade.show {
  //override inline styles
  display: flex !important;
  align-items: center;

  .modal-dialog {
    flex: 1;
  }
}
