@import '../assets/_bootstrap/overrides/variables';

.load {
  position: absolute;
  top: 50%;
  left: 50%;
}

.container {
  ul {
    margin: 0;
    padding: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

// center the modal
.modal.fade.show {
  //override inline styles
  display: flex !important;
  align-items: center;
  overflow: hidden;

  .modal-dialog {
    flex: 1;
  }
  
  .modal-content {
    background-color: transparent;
    border: none;
  }
}
